html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    height: 300vh;
}
.header{
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 100px;
    background-color: #357BAD  ;
    position: fixed;
}
/* NAVIGATION */
.nav-container{
    display: flex;
    transform: translateY(100px);
    width: 100%;
    max-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #60A9DD;
    position: fixed;
    top: 0;
 
    padding-top: 3px;
    padding-bottom: 3px;
}
.logo{
    max-height: 80px;
}

.home{
    max-width: 20px;
}
.shopping-bag{
    margin-left: 10px;
    max-width: 20px;
}
.icons{
    display: flex;
 
   flex-direction: row;
   margin-left: 10px;
    
}
.icon{
    padding-left: 20px;
}
.nav-items{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top:5px;
    margin-bottom: 5px;
}
.nav-text{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav hover */
#men:hover{
    color:hwb(205 69% 1%)
}
#women:hover{
    color:hwb(205 69% 1%)
}
#accessories:hover{
    color:hwb(205 69% 1%)
}
#footwear:hover{
    color:hwb(205 69% 1%)
}
#new-arrivals:hover{
    color:hwb(205 69% 1%)
}
#sale:hover{
    color:hwb(0 0% 0%)
}
.see-more{
    color: rgb(141, 141, 141);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.see-more:hover{
    color:black;
}
/* section hand-picked */
.hand-picked{
    border:1px solid black;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
#hand-picked{
    margin-top:120px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hand-picked-img{
    width:200px;
   margin-left: 20px;
   margin-right: 20px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}
/* new arrivals section */
.new-arrivals{
    border:1px solid black;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.new-arrivals-title{
    margin-top:120px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.new-arrival-img{
   width:200px;
   margin-left: 20px;
   margin-right: 20px;
}
.new-arrival-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}